<h1>{{card.name}}</h1>
<img class="card" src="{{card.imageUrl}}" />
<div class="details">
  <p><span>Description:</span>
    {{card.description}}</p>
  <p><span>Arcan Number:</span> {{card.arcanNumber}}</p>
  <a class="btn" href="/">Back</a>
  <a class="btn" href="/tarot/{{card._id}}/attach-accessories">Attach</a>
  {{#if isOwner}}
    <a class="btn" href="/tarot/{{card._id}}/edit">Edit</a>
    <a class="btn" href="/tarot/{{card._id}}/delete">Delete</a>
  {{/if}}
</div>
<h2>Accessories</h2>
<div class="accessories">

  {{#each accessories}}
    <div class="accessory">
      <img src="{{imageUrl}}" alt="stickerName" />
      <h3>{{name}}</h3>
      <p>{{description}}</p>
    </div>
  {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
  {{/each}}
</div>